<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- If your host app targets Android 13 or above and wants to post notifications, the app must request
         POST_NOTIFICATIONS at runtime. Module cannot request runtime permissions automatically. -->

    <application>
        <receiver
            android:name=".ActivityRefreshReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".DeliveryActivityService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
    </application>
</manifest>
